*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.7;
}

/* UTILITY & GENERAL */

.debug{
    border: 1px solid black;
}

.d-flex{
    display:flex;
}

.wrapper{
    width: 1170px;
    margin: auto;
}

.btn{
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #f72b0c;
    color: white;
    border-radius: 5px;
    height: 55px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
}

#subBtn{
    border-radius: 0px;
    border-bottom: 4px solid #bf351f;
}

/* HEADER */

.navFixer{
    position: fixed;
    z-index: 4;
    width: 100%;
    background-color: #F3F3F3;
}

.navbar{
    align-items: center;
    justify-content: space-between;
}

.navbar img{
    margin: 40px 0;
}

.menu ul{
    border-right: 1px solid grey;
    margin-right: 20px;
}

.menu li{
    display: inline-block;
    margin-right: 30px;
}

.menu li a{
    text-decoration: none;
    color: #868686;
    padding-bottom: 10px;
    font-size: 0.7em;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu li a.active{
    color: #f72b0c;
    border-bottom: 2px solid;
}

.menu a i{
    color: #868686;
    font-size: 0.8em;
}

/* MAIN */

main{
    padding-top: 100px;
}

/* Conference register section */

#conferenceRegister{
    background-image: url('../img/slider-1-bg.jpg');
    background-position: center;
    text-align: center;
    color: white; 
    justify-content: center;
    align-items: center; 
    padding: 148px 0;
}

.infoConference h3{
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 3px;
}

.infoConference h1{
    font-size: 5em;
    margin: 20px 0;
    margin-top: 10px;
    margin-bottom: 25px;
    letter-spacing: 5px;
}

.whenWhereWho{
    width: 500px;
    margin:auto;
    padding-top: 10px;
    margin-bottom: 30px;
    justify-content: space-evenly;
    border-top: 3px solid white;
}

/* About Us section */

#aboutUs > div{
    flex-basis: calc(100% / 3);
    padding: 50px 0px;
}

.icon i{
    color: #c6c1bd;
    font-size: 1.9em;
    margin: 0px 20px;
}

.text h4{
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}

.text  p{
    color: #868686;
    font-size: 0.9em;
    font-weight: 300;
    margin-right: 20px;
    margin-bottom: 20px;
}

.text a, .titleInfo a, .news a{
    text-decoration: none;
    font-style: italic;
    color: #f72b0c;
    letter-spacing: 1px;
    font-size: 0.9em;
}

/* Counter Subscribe section */

#counterSubscribe{
    background-image: url('../img/countdown-bg1.jpg');
    padding-top: 120px;
    padding-bottom: 100px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.countdown > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    border-radius: 5px;
    margin-right: 20px;
    color: white;
    background-color: rgb(0,0,0, 0.8);
}

.countdown > div h1{
    font-size: 3.5em;
    font-weight: 500;
    line-height: 1;
}

.countdown > div p{
    font-size: 0.9em;
}

.hours{
    opacity: 0.9;
}

.mins{
    opacity: 0.8;
}

.secs{
    opacity: 0.7;
}

#inputEmail{
    width: 360px;
    margin-right: 10px;
    border: none;
    height: 55px;
    outline: none;
    padding: 20px 10px;
    color: #c6c1bd;
}

#inputEmail::placeholder{
    color: #c6c1bd;
}

#counterSubscribe > h3{
    letter-spacing: 5px;
    margin: 30px 0;
}

/* Speakers section */

#speakers .title{
    justify-content: space-between;
    padding-top: 60px;
}

.title > h1, .titleInfo h1, #sponsors h1, #presentation h1{
    font-size: 2em;
    letter-spacing: 2px;
}

.arrows{
    align-items: center;
}

.arrows button{
    padding: 0px;
    height: 36px;
    width: 36px;
    margin-right: 5px;
}

#speakers{
    background-color: #F3F3F3;
}

#scrollable{
    scroll-behavior: smooth;
}

#speakers img{
    width: 255px;
    height: 183px;
    border-radius: 5px;
}

#speakers .social{
    width: 255px;
    border-radius: 5px;
    background-color: #f62b0a;
    position: absolute;
    top: 0;
    height: 183px;    
    opacity: 0;
    transition: 0.7s;
    justify-content: center;
    align-items: center;
}

#speakers .social:hover{
    opacity: 0.7;
}

.social a{
    font-size: 1.5em;
    margin: 0 10px;
    color: white;
}

.speakersList{
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}

#speakers ul li{
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 60px 15px;
}

.speakerName{
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.speakerRole{
    font-style: italic;
    color: grey;
    font-size: 0.9em;
}

/* Program section */

#program{
    padding-top:60px;
    padding-bottom:60px;
}

#program .titleInfo p:first-of-type{
    color: #868686;
    font-size: 0.9em;
    font-weight: 300;
    width: 400px;
}

.titleInfo {
    justify-content: space-between;
}

.titleInfo p{
    margin-top: 10px;
    margin-left: 60px;
}

.titleInfo a{
    align-self: center;
}

.daysConference{
    background-color: #f72b0c; 
    margin-top: 40px;   
}

.daysConference .day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px 50px 10px 25px;
    border-right: 1px solid #bf351f;
    color: white;
}

.day:first-of-type{
    background-color: #bf351f;
}

.day p{
    font-size: 0.9em;
    font-weight: 300;
}

.details{
    background-color: #f7f7f7 ;
    padding: 60px 50px;
}

.details .tab{
    width: 40%;
    letter-spacing: 1px;
}

.tab i{
    margin: 12px 20px 12px 0;
    color: #868686;
}

.details .tab div{
    color: #868686;
    font-size: 0.8em;
}

.details .tab div:last-child{
    color: #f72b0c;
}

.details img{    
    height: 45px;
    border-radius: 5px;
}

.description h1{
    letter-spacing: 2px;
    font-weight: 400;
    color: grey;
}

.description p, #sponsors p, .news p:last-of-type{
    color: #868686;
    font-size: 0.9em;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Location section */

#location{
    background-image: url('../img/location-bg.jpg');
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#location h1{
    font-size: 2.5em;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 100px;
}

#location h2{
    margin-top: 30px;
    margin-bottom: 3px;
    font-size: 1.5em;
    letter-spacing: 5px;
}

#location > a{
    margin-top: 15px;
    margin-bottom: 30px;
    text-decoration: none;
    color:#f72b0c;
}

#location .contacts{
    border-top: 3px solid white;
    width: 450px;
    justify-content: space-between;
    margin-bottom: 100px;
}

#location i{
    margin-right: 10px;
}

/* Recent News section */

#recentNews{
    padding-bottom: 50px;
}

#recentNews .titleInfo{
    padding-top: 70px;
    padding-bottom: 30px;
}

#recentNews .newsList .news{
    flex-basis: calc(100% / 3);
}

#recentNews .newsList .news img{
    width: 100%;
}

#recentNews .newsList .news:nth-child(2){
    margin-left: 40px;
    margin-right: 40px;
}

.news .image{
    position: relative;
}

.hoverNews{
    width: 100%;
    height: 207px;
    position:absolute;
    top:0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 1s;
}

.hoverNews:hover{
    opacity: 1;
}

.sticky{
    background-color: black;
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    text-align:center;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 5px 0;
}

.news h3{
    letter-spacing: 2px;
}

.news p:first-of-type{
    margin-top: 10px;
    margin-bottom: 5px;
    color: #868686;
    font-style: italic;
}

.news p span{
    margin-left: 15px;
    margin-right: 15px;
}

/* Tickets section */

#tickets{
    background-image: url('../img/ticket-bg.jpg');
}

#tickets .wrapper{
    align-items: center; 
    flex-direction: column;   
}

#tickets h1{
    color:white;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 40px;
}

.ticketsList{
    width: 100%;
    padding-bottom: 100px;
}

.ticketsList .ticket > *{
    text-align: center;
    list-style: none;
}

.ticket .titleSection{
    padding: 20px 0;
    background-color: #F3F3F3;
    position: relative;
    overflow: hidden;
}

.ticket .titleSection h4{
    color: #f72b0c
}

.features{
    background-color: white;
    color: grey;
    font-style: italic;
    font-size: 0.9em;
    padding: 20px 0;
}

.features li{
    padding-bottom: 15px;
}


.ticketsList > div{
    flex-basis: calc(100% / 3);
}

.ticketsList > div:nth-child(2){
    margin-left: 50px;
    margin-right: 50px;
}

#bookBtn{
    width: 100%;
    border-radius: 0;
}

.banner{
    background-color: #f72b0c;
    color:white;
    position: absolute;
    top: 25px;
    right: -30px;
    width: 140px;
    transform: rotateZ(45deg);
    font-size: 0.9em;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* Presentation section */

#presentation > div{
    flex-basis: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#presentation div h1{
    padding-bottom: 30px;
}

#presentation div img{
    height: 75%;
    margin-right: 30px;
}

.tweet{
    margin-top: 20px;
}

.tweet .logo i{
    margin-right: 30px;
    color: #47bdee;
    font-size: 1.5em;
}

.tweetText p:first-of-type{
    color: #868686;
    font-size: 0.9em;
    font-weight: 300;
    margin-bottom: 20px;
}

.tweetText p:last-of-type{
    color: grey;
    font-style: italic;
    font-size: 0.8em;
}

.tweetText a{
    text-decoration: none;
    color: #f72b0c;
}

/* Sponsors section */

#sponsors{
    text-align: center;
    flex-direction: column;
    background-color: #f7f7f7;
    padding-top: 70px;
    padding-bottom: 50px;
}

.sponsorsList{
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

#sponsors p{
    margin-bottom: 50px;
}

/* FOOTER */

footer{
    background-color: #272727;
}

.footer > div{
    flex-basis: calc(100% / 4);
    margin: 30px 15px 60px 15px;
}

.footer div h5{
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer div p{
    color: white;
    font-size: 0.8em;
    font-weight: 300;    
    letter-spacing: 1px; 
    margin-bottom: 20px;
    color: #c6c1bd;
}

.socials {
    justify-content: space-around; 
    list-style: none; 
}

.aboutUs .socials li a{    
    font-size: 1.5em;
    color: #c6c1bd;
}

.footerMenu li a::before{
    content: '\203A';
    padding-right: 10px;
    font-size: 1.5em;
}

.footerMenu{
    list-style: none; 
}

.footerMenu li a{
    text-decoration: none;
    font-size: 0.7em;
    color:grey;
    letter-spacing: 1px;
    transition: 0.5s;
}

.footerMenu li a:hover{
    color:white;
}

.gallery ul{
    flex-wrap: wrap; 
}

.gallery ul li{
    list-style: none;
}

.grid{
    height: 50px;
    padding-right: 10px;
}

.copyright{
    color: grey;
    font-size: 0.7em;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
}

.copyrightWrapped{
    justify-content: space-between;
}

.copyright ul li{
     display: inline-block;
     border-right: 1px solid grey;
     padding: 0px 5px;
}

.copyright ul li:last-of-type{
    border-right: none;
}

.copyright ul li a{
    text-decoration: none;
    color: grey;
}

#recentNews .titleInfo{
    justify-content: space-between;
}
