<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Keynote</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="js/data.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="root" >
        <header>
            <div class="navbar d-flex wrapper">
                <img src="img/logo.png" alt="">
                <div class="menu d-flex">
                    <ul>
                        <li v-for="link in header">
                            <a @click="selectMenu(link)" href="#" :class="{active: link == selectedMenu}">{{ link }}</a>
                        </li>
                    </ul>
                    <span><i class="fas fa-search"></i></span>
                </div>
            </div>
        </header>

        <main>
            <section id="conferenceRegister" class="d-flex">
                <div class="infoConference">
                    <h3>CONFERENCE ON<h3>
                    <h1>SOCIAL NETWORKS</h1>
                    <div class="whenWhereWho d-flex">
                        <span>23 - 26 MAY 2019 </span>
                        <span>/</span>
                        <span>SANS FRANCISCO </span>
                        <span>/</span>
                        <span>8 SPEAKERS</span>
                    </div>
                    <button class="btn">REGISTER ONLINE</button>
                </div>
            </section>
            <section id="aboutUs" class="wrapper d-flex">
                <div class="who d-flex">
                    <div class="icon"><i class="fas fa-trophy"></i></div>
                    <div class="text">
                        <h4>WHO WE ARE</h4>
                        <p>Donec id elit non mi porta gravida at eget me tus. Sed posuere consectetur estat lobo rtis. Cum sociis natoque.</p>
                        <a href="#">Learn More</a>
                    </div>
                </div>
                <div class="what d-flex">
                    <div class="icon"><i class="fas fa-bolt"></i></div>
                    <div class="text">
                        <h4>WHAT WE DO</h4>
                        <p>Donec id elit non mi porta gravida at eget me tus. Sed posuere consectetur estat lobo rtis. Cum sociis natoque.</p>
                        <a href="#">Learn More</a>
                    </div>
                </div>
                <div class="why d-flex">
                    <div class="icon"><i class="fas fa-question"></i></div>
                    <div class="text">
                        <h4>WHY US?</h4>
                        <p>Donec id elit non mi porta gravida at eget me tus. Sed posuere consectetur estat lobo rtis. Cum sociis natoque.</p>
                        <a href="#">Learn More</a>
                    </div>
                </div>

            </section>
            <section id="counterSubscribe" class="d-flex">
                <div class="countdown d-flex">
                    <div class="days">
                        <h1>3399</h1>
                        <p>DAYS</p>
                    </div>
                    <div class="hours">
                        <h1>17</h1>
                        <p>HOURS</p>
                    </div>
                    <div class="mins">
                        <h1>28</h1>
                        <p>MINS</p>
                    </div>
                    <div class="secs">
                        <h1>17</h1>
                        <p>SECS</p>
                    </div>
                </div>
                <h3>SUBSCRIBE FOR UPDATES</h3>
                <div class="subscribe">
                    <input id="inputEmail" type="text" placeholder="Please fill your email">
                    <button id="subBtn" class="btn">SUBSCRIBE</button>
                </div>
            </section>
            <section id="speakers" class="wrapper">
                <div class="title d-flex">
                    <h1>SPEAKERS</h1>
                    <div class="arrows d-flex">
                        <button class="btn"><i class="fas fa-chevron-left"></i></button>
                        <button class="btn"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
                <ul class="speakersList">
                    <li v-for="speaker in speakers">
                        <img :src="speaker.img" alt="speaker">
                        <div class="social d-flex">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        <p class="speakerName">{{ speaker.name }}</p>
                        <p class="speakerRole">{{ speaker.role }}</p>
                    </li>
                </ul>
            </section>

        </main>

        <footer>
            <div class="footer wrapper d-flex">
                <div class="aboutUs">
                   <h5>About Us</h5>
                   <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                   <ul class="socials d-flex">
                       <li v-for="social in socials">
                           <a href="#"><i :class="social"></i></a>
                       </li>
                   </ul>
                </div>
                <div class="recentNews">
                    <h5>Recent News</h5>
                    <ul class="footerMenu">
                        <li v-for="link in footerLinks">
                            <a href="#">{{ link }}</a>
                        </li>
                    </ul>
                </div>
                <div class="getSeat">
                    <h5>Get Your Seat!</h5>
                    <p>Book for your seat before it's too rate. We provide variety of ticket options.</p>
                    <button id="subBtn" class="btn">CHECK OUT TICKETS!</button>
                </div>
                <div class="gallery">
                    <h5>gallery From Last Year</h5>
                    <ul class="d-flex">
                        <li v-for="photo in photos">
                            <img class="grid" :src="photo" alt="photo">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyright d-flex">
                <div class="copyrightWrapped wrapper d-flex">
                    <p><span><i class="far fa-copyright"></i></span>Copyright GoodLayers, All Right Reserved</p>
                    <ul>
                        <li v-for="link in copyrightLinks">
                            <a href="#">{{ link }}</a>
                        </li>
                    </ul>                    
                </div>
            </div>
        </footer>
    </div>
    
    <script src="js/main.js"></script>
</body>
</html>