<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Keynote</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="js/data.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="root" >
        <header>
            <div class="navFixer">
                <div class="navbar d-flex wrapper">
                    <img src="img/logo.png" alt="">
                    <div class="menu d-flex">
                        <ul>
                            <li v-for="link in header">
                                <a @click="selectMenu(link)" href="#" :class="{active: link == selectedMenu}">{{ link }}</a>
                            </li>
                        </ul>
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section id="conferenceRegister" class="d-flex">
                <div class="infoConference">
                    <h3>CONFERENCE ON<h3>
                    <h1>SOCIAL NETWORKS</h1>
                    <div class="whenWhereWho d-flex">
                        <span>23 - 26 MAY 2019 </span>
                        <span>/</span>
                        <span>SAN FRANCISCO </span>
                        <span>/</span>
                        <span>8 SPEAKERS</span>
                    </div>
                    <button class="btn">REGISTER ONLINE</button>
                </div>
            </section>
            <section id="aboutUs" class="wrapper d-flex">
                <div class="who d-flex">
                    <div class="icon"><i class="fas fa-trophy"></i></div>
                    <div class="text">
                        <h4>WHO WE ARE</h4>
                        <p>Donec id elit non mi porta gravida at eget me tus. Sed posuere consectetur estat lobo rtis. Cum sociis natoque.</p>
                        <a href="#">Learn More</a>
                    </div>
                </div>
                <div class="what d-flex">
                    <div class="icon"><i class="fas fa-bolt"></i></div>
                    <div class="text">
                        <h4>WHAT WE DO</h4>
                        <p>Donec id elit non mi porta gravida at eget me tus. Sed posuere consectetur estat lobo rtis. Cum sociis natoque.</p>
                        <a href="#">Learn More</a>
                    </div>
                </div>
                <div class="why d-flex">
                    <div class="icon"><i class="fas fa-question"></i></div>
                    <div class="text">
                        <h4>WHY US?</h4>
                        <p>Donec id elit non mi porta gravida at eget me tus. Sed posuere consectetur estat lobo rtis. Cum sociis natoque.</p>
                        <a href="#">Learn More</a>
                    </div>
                </div>

            </section>
            <section id="counterSubscribe" class="d-flex">
                <div class="countdown d-flex">
                    <div class="days">
                        <h1>3399</h1>
                        <p>DAYS</p>
                    </div>
                    <div class="hours">
                        <h1>17</h1>
                        <p>HOURS</p>
                    </div>
                    <div class="mins">
                        <h1>28</h1>
                        <p>MINS</p>
                    </div>
                    <div class="secs">
                        <h1>17</h1>
                        <p>SECS</p>
                    </div>
                </div>
                <h3>SUBSCRIBE FOR UPDATES</h3>
                <div class="subscribe">
                    <input id="inputEmail" type="text" placeholder="Please fill your email">
                    <button id="subBtn" class="btn">SUBSCRIBE</button>
                </div>
            </section>
            <section id="speakers" >
                <div class="wrapper">
                    <div class="title d-flex">
                        <h1>SPEAKERS</h1>
                        <div class="arrows d-flex">
                            <button @click="scrollLeft" class="btn"><i class="fas fa-chevron-left"></i></button>
                            <button @click="scrollRight" class="btn"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                    <ul id="scrollable" class="speakersList">
                        <li v-for="speaker in speakers">
                            <img :src="speaker.img" alt="speaker">
                            <div class="social d-flex">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <p class="speakerName">{{ speaker.name }}</p>
                            <p class="speakerRole">{{ speaker.role }}</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="program" class="wrapper">
                <div class="titleInfo d-flex">
                    <div class="d-flex">
                        <h1>PROGRAM</h1>
                        <p>This conference run through all 4 days from 23 - 26 May 2016. We also provide free lunch and coffee break in each day.</p>
                    </div>
                    <a href="#">View Full Program</a>
                </div>
                <div class="programDetails">
                    <div class="daysConference d-flex">
                        <div class="day">
                            <h4>DAY 1</h4>
                            <p>23 May 2016</p>
                        </div>
                        <div class="day">
                            <h4>DAY 2</h4>
                            <p>23 May 2016</p>
                        </div>
                        <div class="day">
                            <h4>DAY 3</h4>
                            <p>23 May 2016</p>
                        </div>
                        <div class="day">
                            <h4>DAY 4</h4>
                            <p>23 May 2016</p>
                        </div>
                        <div class="day">
                            <h4>DAY 5</h4>
                            <p>23 May 2016</p>
                        </div>
                    </div>
                    <div class="details d-flex">
                        <div class="tab">
                            <div>
                                <span><i class="far fa-clock"></i></span>
                                09:00 - 10:30
                            </div>
                            <div>
                                <span><i class="fas fa-location-arrow"></i></span>
                                ROOM A
                            </div>
                            <div>
                                <span><i class="fas fa-user-alt"></i></span>
                                LAURENCE FRANCIS
                            </div>
                        </div>
                        <div class="description">
                            <h1>WELCOMING AND INTRODUCTION</h1>
                            <p>Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur....</p>
                            <img src="img/speaker-8.jpg" alt="photo">
                        </div>
                    </div>

                </div>
            </section>
            <section class="maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d18750.90174854999!2d-0.14309995142981707!3d51.508884022915936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sit!2sit!4v1607620309693!5m2!1sit!2sit" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </section>
            <section id="location" class="d-flex">
                <h1>LOCATION</h1>
                <h2>GD BUILDING, GRAND CONFERENCE ROOM</h2>
                <div><i class="fas fa-location-arrow"></i>
                    11 GD Building, River Mall, New york, USA 8879
                </div>
                <a href="#">Check For Accommodations Here</a>
                <div class="contacts d-flex">
                    <div class="telephone"> 
                        <span><i class="fas fa-phone-alt"></i></span>
                        +1-112-222-3344
                    </div>
                    <div class="email"> 
                        <span><i class="far fa-envelope"></i></span>
                        Contact@TheKeynoteTheme.com
                    </div>
                </div>
            </section>
            <section id="recentNews" class="wrapper">
                <div class="titleInfo d-flex">
                    <h1>RECENT NEWS</h1>
                    <a href="#">Read All News</a>
                </div>
                <div class="newsList d-flex">
                    <div class="news">
                        <div class="image">
                            <img src="img/news-image-1.jpg" alt="news">
                            <div class="hoverNews">
                                <div class="sticky">
                                    <span><i class="fas fa-bullhorn"></i></span>
                                    STICKY POST
                                </div>
                            </div>                            
                        </div>
                        <p>03 Dec 2013<span>/</span>0 Comments</p>
                        <h3>SEDIAL EIUSMOD TEMPOR</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere....</p>
                        <a href="#">Read More</a>
                    </div>
                    <div class="news">
                        <div class="image">
                            <img src="img/news-image-2.jpg" alt="news">
                            <div class="hoverNews">
                                <div class="sticky">
                                    <span><i class="fas fa-bullhorn"></i></span>
                                    STICKY POST
                                </div>
                            </div>                            
                        </div>
                        <p>03 Dec 2013<span>/</span>2 Comments</p>
                        <h3>DONEC LUCTUS IMPERDIET</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere....</p>
                        <a href="#">Read More</a>
                    </div>
                    <div class="news">
                        <div class="image">
                            <img src="img/news-image-3.jpg" alt="news">
                            <div class="hoverNews">
                                <div class="sticky">
                                    <span><i class="fas fa-bullhorn"></i></span>
                                    STICKY POST
                                </div>
                            </div>                            
                        </div>
                        <p>03 Dec 2013<span>/</span>2 Comments</p>
                        <h3>MAGNA PARS STUDIORUM</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere....</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </section>
            <section id="tickets">
                <div class="wrapper d-flex">
                    <h1>TICKETS</h1>  
                    <div class="ticketsList d-flex">
                        <div class="ticket oneDay">
                            <div class="titleSection">
                                <h3>ONE DAY PASS</h3>
                                <h4>FREE</h4>
                            </div>
                            <ul class="features">
                                <li>One Day Access</li>
                                <li>Coffee Break</li>
                                <li>Lunch(International Buffet)</li>
                                <li>Document Sheets</li>
                                <li>50USD Voucher For Next Event</li>
                            </ul>
                            <button id="bookBtn" class="btn">BOOK NOW</button>
                        </div>
                        <div class="ticket fourDay">                            
                            <div class="titleSection">
                                <div class="banner">Featured!</div>
                                <h3>FOUR DAY PASSES</h3>
                                <h4>750.00 USD</h4>
                            </div>
                            <ul class="features">
                                <li>Four Day Access</li>
                                <li>Coffee Break</li>
                                <li>Lunch(International Buffet)</li>
                                <li>Document Sheets</li>
                                <li>100USD Voucher For Next Event</li>
                            </ul>
                            <button id="bookBtn" class="btn">BOOK NOW</button>
                        </div>
                        <div class="ticket twoDays">
                            <div class="titleSection">
                                <h3>TWO DAY PASSES</h3>
                                <h4>580.00 USD</h4>
                            </div>
                            <ul class="features">
                                <li>Two Day Access</li>
                                <li>Coffee Break</li>
                                <li>Lunch(International Buffet)</li>
                                <li>Document Sheets</li>
                                <li>70USD Voucher For Next Event</li>
                            </ul>
                            <button id="bookBtn" class="btn">BOOK NOW</button>
                        </div>
                    </div>
                </div>  
            </section>
            <section id="presentation" class="wrapper d-flex">
                <div class="video">
                    <h1>PRESENTATION</h1>
                    <img src="img/video.jpg" alt="video">
                </div>
                <div class="twitter">
                    <h1>TWITTER FEED</h1>
                    <ul>
                        <li class="tweet  d-flex">
                            <div class="logo"><span><i class="fab fa-twitter"></i></span></div>                       
                            <div class="tweetText">
                                <p>Stand out and be vibrant with some of the best bright and bold templates on <a href="#">@Envato</a> Elements. And add a splash of c… <a href="#">https://t.co/jFrsnzEJK7</a></p>
                                
                                <p>3 days ago</p>
                            </div> 

                        </li>
                        <li class="tweet  d-flex">
                            <div class="logo"><span><i class="fab fa-twitter"></i></span></div>                       
                            <div class="tweetText">
                                <p>Do you need to deliver the perfect presentation or creative pitch? Sure, your ideas and plan need to be on-point, b…  <a href="#">https://t.co/nCmvsJVDpW</a></p>
                                
                                <p>9 days ago</p>
                            </div> 

                        </li>
                        <li class="tweet  d-flex">
                            <div class="logo"><span><i class="fab fa-twitter"></i></span></div>                       
                            <div class="tweetText">
                                <p>Cut yourself a piece of the BFCM sales pie with a solid marketing plan. Here are 5 ways to optimize your content fo… <a href="#">https://t.co/UZfKHshE0T</a></p>
                                
                                <p>3 days ago</p>
                            </div> 

                        </li>
                    </ul>
                </div>
            </section>
            <section id="sponsors" class="d-flex">
                <div class="wrapper">
                    <h1>SPONSORS</h1>
                    <p>Maecenas faucibus mollis interdum. Nullam id dolor <br> id nibh ultricies vehicula ut id elit.</p>
                    <ul class="sponsorsList d-flex">
                        <li v-for="sponsor in sponsors">
                            <img :src="sponsor" alt="sponsor">
                        </li>
                    </ul>
                </div>
            </section>
        </main>

        <footer>
            <div class="footer wrapper d-flex">
                <div class="aboutUs">
                   <h5>About Us</h5>
                   <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                   <ul class="socials d-flex">
                       <li v-for="social in socials">
                           <a href="#"><i :class="social"></i></a>
                       </li>
                   </ul>
                </div>
                <div class="recentNews">
                    <h5>Recent News</h5>
                    <ul class="footerMenu">
                        <li v-for="link in footerLinks">
                            <a href="#">{{ link }}</a>
                        </li>
                    </ul>
                </div>
                <div class="getSeat">
                    <h5>Get Your Seat!</h5>
                    <p>Book for your seat before it's too rate. We provide variety of ticket options.</p>
                    <button id="subBtn" class="btn">CHECK OUT TICKETS!</button>
                </div>
                <div class="gallery">
                    <h5>gallery From Last Year</h5>
                    <ul class="d-flex">
                        <li v-for="photo in photos">
                            <img class="grid" :src="photo" alt="photo">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyright d-flex">
                <div class="copyrightWrapped wrapper d-flex">
                    <p><span><i class="far fa-copyright"></i></span>Copyright GoodLayers, All Right Reserved</p>
                    <ul>
                        <li v-for="link in copyrightLinks">
                            <a href="#">{{ link }}</a>
                        </li>
                    </ul>                    
                </div>
            </div>
        </footer>
    </div>
    
    <script src="js/main.js"></script>
</body>
</html>